<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Random MDN page</title>
    <meta name="description" content="A random MDN page, delivered fresh.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
  </head>
  <body>
    <div class="github-star">
      <a class="github-button" href="https://github.com/healeycodes" data-size="large" aria-label="Follow @healeycodes on GitHub">Follow</a>
      <a class="github-button" href="https://github.com/healeycodes/random-mdn-page" data-icon="octicon-star" data-size="large" aria-label="Star healeycodes/random-mdn-page on GitHub">Star</a>
    </div>
    <div class="page-font page-wrap">
      <h1 class="title">Random MDN page</h1>
      <h2 class="subtitle faded">by <a href="https://twitter.com/healeycodes">@healeycodes</a></h2>
      <main>
        <div class="box">    
          <div class="page-font page-link-con"></div>
          <div class="page-font page-text-con"></div>
        </div>
        <div class="has-text-centered">
          <button class="button is-primary is-medium another" onclick="newPage();">Another</button>
        </div>        
      </main>
      <!-- include the Glitch button to show what the webpage is about and
            to make it easier for folks to view source and remix -->
      <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    </div>
    <script src="/client.js" defer></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
